@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@400;600&display=swap');

body{
  margin:0px;
  padding: 0px;
  
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}
.logo img{
  width: 90px;
}
#main{
  width:100%;
  height:768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/hero_image.svg);
}
.whytrodo{
  transition: 1000ms;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
nav.active{
  background-color: #ffffff;
}
nav ul{
  display: flex;
}
.active{
  background-color: #2A77CE;
  color:#ffffff;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
}
nav ul li a{
  font-family: calibri;
  height:40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
color:#000000;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover{
  background-color: #2A77CE;
  color:#ffffff;
  transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
  display:none;
}
.name{
  font-family: 'Montserrat';
  width: 350px;
  position: absolute;
  left: 22%;
  top: 50%;
  transform: translate(-22%,-50%);
}
.name span{
  color: #1D1D1D;
}
.name h3{
  color: #5B5B5B;
  font-family:'Montserrat';
  font-weight: 500;
  font-size: 18px;
}
.name .details{
  color: #5B5B5B;
  font-size: 16px;
}
.type-wrap{
  font-family:'Montserrat';
  font-size: 40px;
  font-weight: 700;
  margin:0px;
  letter-spacing: 2px;
  color:#000000;
  width: 40%;
}
/* Animation for dynamic text */
.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
 @keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
} 
.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}


.cv-btn{
  width:180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2A77CE;
  border-radius: 5px;
  color:#ffffff;
}
.cv-btn:hover{
  background-color: #2A77CE;
  transition: all ease 0.5s;
  color: #ffffff;
}

.f-heading h1{
  color:#FFFFFF;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;

}
.f-heading p{
  color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.f-heading{
  text-align: center;
  margin-top: 60px;
  margin-bottom: -80px;
}
#about{
  width:100%;
  height: 80vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5% 0px 5%;
  position: relative;
}

.about-text{
  width: 45%;
  color: #fff;
  list-style: circle;
}
.about-text img{
  width: 50px;
  height: 50px;
}
.about-text h2{
font-size: 1.5rem;
color:#1D1D1D;
  font-weight: 500;
  margin: 0px;
padding-top: 10px;
}
.about-text p{
  width: 80%;
  font-size: 1rem;
  color: #5b5b5b;

}
.about-image{
  width: 50%;
}
.about-image img{
width: 600px;
}

.p-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: scale(75%);
  transition: 2s;
}

.p-slider--zoom {
  opacity: 1;
  transform: scale(90%);
  transition: 2s;
}

/* Animation for appearing effect */
.slider {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: scale(75%);
  transition: 2s;
}

.slider--zoom {
  opacity: 1;
  transform: scale(90%);
  transition: 2s;
}

#features{
  width:100%;
  height:100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px ;
  background-color: #ffffff;
}

.d-box{
  background-color: #ffffff;
  width:300px;
  height: 450px;
  margin: 20px;
  border-radius: 10px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  overflow: hidden;
  position: relative;
}
.d-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.a-container{
  display: flex;
  justify-content: center;
  align-content: center;
}
.a-box{
  background-color: #ffffff;
  width:300px;
  height: 450px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.a-b-img{
  width: 100%;
  height: 60%;

}

.qr-img{
  width: 100%;
  height: 100%;
}

.qr-img img{
  padding: 10px;
  width:100%;
  height: 100%;
}

.a-b-img img{
  padding: 15px;
  width:100%;
  height: 100%;

}

#presentation{
  padding-top: 30px;
  width:100%;
  height:650px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(images/sidekick_image.svg);
  text-align: center;
}
#presentation h1{
  padding-top: 10px;
  font-size: 2rem;
  color: white;
}
#presentation p{
  color:whitesmoke;
}
#services{
  width:100%;
  height:100vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px ;
}

.s-heading h1{
  color:#FFFFFF;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;

}
.s-heading p{
  color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading{
  text-align: center;
  margin: 20px 0px;
}
.s-box{
  background-color: #ffffff;
  width:350px;
  height: 470px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
}
.b-container{
  display: flex;
  justify-content: center;
  align-content: center;


}
.s-b-img{
  width: 100%;
  height: 50%;

}
.s-b-img img{
  width:100%;
  height: 100%;

}
.s-b-text{
  color: #1D1D1D;
  width: 100%;
  height: 40%;
  background-color:#ffffff;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.s-b-text h2{
  font-family: 'Montserrat', sans-serif;
}
.s-b-text p{
  margin: 0px;
  color:#505050;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  display: -webkit-box;
  max-width: 90%;
  margin-top: 5px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.s-b-text a{
  margin-top:15px ;
}
.s-type{
  font-family: calibri;
  color:#000266;
  background-color: #ffffff;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}


#contact{
  background-color: #F5F8FD;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.pricingBox{
  padding-top: 20px;
  width:50%;
  height:30%;
  background-color:#FFFFFF;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.05); 
  text-align: center; 
}

.pricingBox h3{
  color:#1d1d1d;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.price h1{
  color: #505050;;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: -20px;
  padding-top: 10px;
}
.price p{
  color: #505050;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


.pro{
  padding-left: 5px;
  color:#2A77CE;
}
.month{
  padding-left: 5px;
  color: #5A5A5A;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#contact h3{
font-size:2.5rem;
  margin:10px;
  color: #4D4D4D;
  text-align: center;
}
#contact p{
  padding-bottom: 10px;
  text-align: center;
}

#download{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
#download h1{
  font-size:2.5rem;
  margin:10px;
  color: #4D4D4D;
  text-align: center;
}
.download-btn{
  width:180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2A77CE;
  border-radius: 5px;
  color:#ffffff;
}

.contact-input{
  width:400px;
  height:50px;
  background-color:#FFFFFF;
  display:flex;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.contact-input input{
  width:100%;
  background-color: transparent;
  border:none;
  outline: none;
  text-align: center;
  color:#242425;
}
.contact-input a{
  width:200px;
  height:35px;
  background-color:#00b7ff;
  color:#FFFFFF;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.4s ease-out;
}

.footer{
  background-color: black;
  height: 50px;
  align-items: center;
  align-content: center;
}

.footer p{
  padding:15px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* This is to make the webpage responsive for 1190px */
@media(max-width:1190px){
  #main{
    background-size: 1190px !important;
    
  }
  .name{
    left: 50%;
    top: 50%;
    transform: translate(-90%,-50%);
    text-align: left;
  }
  .about-image img{
    height:400px;
  }
  #features{
    height:auto;
  }
  .d-container{
    flex-wrap: wrap;
  }
  .a-container{
    flex-wrap: wrap;
  }
  .a-box{
    flex-grow: 1;
  }
  #services{
    height:auto;
  }
  .b-container{
    flex-wrap: wrap;
  }
  .s-box{
    flex-grow: 1;
  }
  .s-b-img img{
    object-fit:cover;
  }
  .a-b-img img{
    object-fit:contain;
  }

}

/* This is to make the webpage responsive for 1100px */
@media(max-width:1100px){
  .main{
    background-image: 1000px !important;
    
  }
  .menu-icon{
    display:block;
  }

  .menu-icon h1{
    display: none;
  }
  nav{
      justify-content: space-between;
      height: 65px;
      padding: 0px 30px;
  }
  .logo img{
      width:70px;
  }
  .header-btns{
      margin: 0;
  }
  .menu{
      display:none;
      position:absolute;
      top:65px;
      left:0px;
      background-color:#FFFFFF;
      border-bottom:4px solid #2A77CE;
      width:100%;
      padding:0px;
      margin:0px;
  }
  .menu li{
      width:100%;
  }
  nav .menu li a{
      width:100%;
      height:40px;
      justify-content: center;
      align-items: center;
      margin:0px;
      padding: 25px;
      border:1px solid rgba(38,38,38,0.03);
  }
  nav .menu-icon{
      cursor:pointer;
      float:right;
      padding:28px 20px;
      position:relative;
      user-select: none;
  }
  nav .menu-icon .nav-icon{
      background-color:#333333;
      display:block;
      height:2px;
      position:relative;
      transition: background 0.2s ease-out;
      width:18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after{
      background:#333;
      content:'';
      display:block;
      height:100%;
      position:absolute;
      transition:all ease-out 0.2s;
      width:100%;
  }
  nav .menu-icon .nav-icon:before{
      top:5px;
  }
  nav .menu-icon .nav-icon:after{
      top:-5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon{
      background:transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
      transform: rotate(-45deg);
      top:0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
      transform: rotate(45deg);
      top:0;
  }
  nav .menu-btn{
      display:none;
  }
  nav .menu-btn:checked ~ .menu{
      display:block;
  }

  #presentation h1{
    padding-top:0px;
    font-size: 1.5rem;
  }
}

/* This is to make the webpage responsive for 970px */
@media(max-width:970px){
  .main{
    background-image: none !important;
    
  }
  .name{
    left: 50%;
    top: 50%;
    transform: translate(-70%,-50%);
    text-align: left;
  }

  .about-image{
    display:none;
  }
  .cv-btn{
    margin-left: 0%;
    margin-top: 20px;
  }

  .download-btn{
    margin-left: 0%;
  }
  #about{
    justify-content: center;
    padding-top: 0px;
    text-align: center;   
    margin-top: 0px;
  }
  .about-text{
    width: 90%;
  }
  .about-text h1{
    font-size:4rem;
    }
  .about-text p{
    width: 100%;
  }
  #features{
    margin-bottom: 100px;
  }
  #presentaion{
      display: none;
    }
}

@media(max-width:820px){
  
  #presentation{
    background-image: url(images/sidekick_image_mq.svg);
  }

}

/* This is to make the webpage responsive for 600px */
@media(max-width:600px){
  .name{
    width:60%;
    text-align: left;
  }

  .pricingBox h3{
    font-size: 12px;
  }

  #presentation{
    background-image: none !important;
  }
  #presentation h1{
    color: #1d1d1d;
  }

  #presentation p{
    color: #1d1d1d;
  }
}
.scroll{
  left: 42.5%;
}
  

/* This is to make the webpage responsive for 400px */
@media(max-width:400px){
  .s-box{
      width: 100%;
      height:400px;
  }
  .presentation{
    background-image: none;
  }

}